.header {
  height: 60px;
  width: 100%;
  background: var(--tui-base-02);
  box-shadow: 0 1px 4px 1px var(--tui-base-04);
  .tui-container, .tui-row {
    height: 100%;
  }
  .logo {
    align-items: center;
    display: flex;
    font-size: 24px;
  }
  .user {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      margin-right: 10px;
    }
    tui-tag {
      margin-right: 10px;
    }
    .logout {
      .logout-button {
      }
    }
  }
}
