<div class="header">
  <div class="tui-container tui-container_adaptive">
    <div class="tui-row tui-row_adaptive">
      <div class="logo tui-col_xs-4 tui-col_lg-4 tui-col_sm-4 tui-col_s-4 tui-col_md-4">Profile</div>
      <div class="user tui-col_xs-8 tui-col_lg-8 tui-col_sm-8 tui-col_s-8 tui-col_md-8"
           *ngIf="isAuthenticated$ | async">
        <ng-container *ngIf="username$ | async as username">
          <img class="avatar"
               src="https://eu.ui-avatars.com/api/?background=526ed3&color=fff&name={{username}}&length=1" alt="">
          <tui-tag status="primary" size="m" [value]="username"></tui-tag>
          <div class="logout">
            <button
              tuiButton
              type="button"
              size="m"
              class="logout-button"
              appearance="flat"
              iconRight="tuiIconLogoutLarge"
              (click)="logout()"
            >Logout</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
