<div class="auth-container">
  <h1 class="title">Registration</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <tui-input formControlName="username" tuiTextfieldSize="m" class="form-control">
      Type an username
    </tui-input>
    <tui-input-password formControlName="password" tuiTextfieldSize="m" class="form-control">
      Type an password
    </tui-input-password>

    <tui-input-password formControlName="confirmPassword" tuiTextfieldSize="m" class="form-control">
      Type an password
    </tui-input-password>

    <button
      [disabled]="form.invalid"
      tuiButton
      type="submit"
      size="m"
      class="submit"
      [showLoader]="inProgress"
    >
      Registration
    </button>
  </form>
  <tui-error [error]="error"></tui-error>
  <div class="link">
    <a routerLink="/auth/login" tuiLink>Login</a>
  </div>
</div>
